body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #141414;
    color: white;
}

main {
    margin-top: 2vh;
}

.table-wrapper {
    overflow: hidden;
    border-radius: 20px;
}

.card {
    transition: transform 0.3s;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card-form:hover {
    transform: scale(1.02);
}

@media (max-width: 768px) {
    table {
        font-size: 12px;;
    }

    .btn {
        font-size: 10px;
        padding: 2px 6px;
    }


}